@model SchoolTemplate.Database.Festival
@{ 
    ViewData["Title"] = "Festival";
    List<FestivalDag> prijzen = ViewData["prijzen"] as List<FestivalDag>;
}
<h1>@ViewData["id"]</h1>


@using SchoolTemplate.Database;

@{
  ViewData["Title"] = "Festival";
}

<h1>@Model.Naam</h1>
<p>@Model.Beschrijving</p>
@if(prijzen != null) { 
@foreach(FestivalDag fd in prijzen)
    {
    <p>Start: @fd.start.ToString("dd MMM - HH:mm")</p> 
    <p>Einde: @fd.end.ToString("dd MMM - HH:mm")</p>
    <p>Voorraad: @fd.voorraad</p>
    }
}