
@using SchoolTemplate.Database;
@model List<SchoolTemplate.Database.FestivalDag>
@{
    ViewData["Title"] = "Tickets";
}

<h1>@ViewData["Title"]</h1>

<p>Hieronder de tijden en ticketvoorraden van je favoriete festivals.</p>


<center>
    <table>
        <tr>
            <th>Naam:</th>
            <th>Start:</th>
            <th>Einde:</th>
            <th>Voorraad:</th>
        </tr>
        @foreach (FestivalDag f in Model)
        {
            <tr>
                <th>@f.festival_naam</th>
                <th>@f.start</th>
                <th>@f.end</th>
                <th>@f.voorraad</th>
            </tr>
        }
        </table>
</center>
    <center>
        <button onclick="location.href='https://www.paypal.com/nl/signin';" class="button">Bestellen</button>
    </center>
